
#root{

  position: relative;
  width: 100%;

}


.viz_container{
  display: flexbox;
  position: relative;
  width: 50%;
  margin-left: 20%;

  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 10px;

  background-color: aliceblue;
  border-style: solid;

}


.svg_container{
  display: block;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px;
  width: fit-content;

}

.viz_svg{
  display: inline-flex;
  position: relative;
  width: 100%;
}


.viz_container button{

  position: relative;
  left: 50%;
  margin-left: -40px;

  margin-top: 10px;
  width: 80px;
  height: 30px;

  
}


.slider_container{

  position: relative;
  display: inline-flex ;
  
  justify-content: center;
  align-items: center;

  margin-left: 15px;
  margin-right: 10px;


}



