
button{
    border-radius: 5px;
    background-color: lightblue;
    height: 25px;
    width: 50px;
}

.stepBtn{

    font-size: small;

}

.stepBtn button{
    height: 20px;
    width: 40px;
}

h3{
    margin: 5px;
    font-size: 20px;
}

p{

    font-size: 20px;

}


#header{
    position: relative;
    width: 96%;
    margin-left: 1.5%;
    margin-top: 10px;
    height: fit-content;
    background-color:aliceblue;
}

#header div{
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: fit-content;
}


#content{
    position: relative;
    width: 96%;
    margin-left: 1.5%;
    margin-top: 10px;
    height: fit-content;
}


.slider_container{
    display: flex;
}



.viz_container{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: fit-content;

    background-color: #faebd7;
    border: 0.5px solid;
}

.svg_div{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
    margin-left: 1%;
    width: 900px;
}

.svg_div.half{
    width: 650px;
}


.viz_svg{

    position: relative;
    display: flex;
    width: 100%;

}

.slide_footer{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: fit-content;
    background-color: #f5f5f5;

    border: 1px solid;
}

.slide_txt{

    position: relative;
    display: flex;
    width: 65%;

    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;

}


.slide_ctrl{

    position: relative;
    display: inline-block;
    width: 35%;
    height: 100%;

    padding-left: 20px;
    border-left: 0.5px solid;
}


.txtBack{

    outline: solid black 0.5px;
    fill: #faebd7;

}


.labelTxt{

    font-size: 20px;

}

.labelTxt.large{

    font-size: 24px;

}